@model IEnumerable<NETMVC.Models.CatalogModel>
<h1>Danh sách catalog</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên sản phẩm</th> <!-- Thay bằng các thuộc tính của ProductModel -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CatalogCode</td> <!-- Thay Id bằng tên thuộc tính thực tế -->
                <td>@item.CatalogName</td> <!-- Thay Name bằng tên thuộc tính thực tế -->
            </tr>
        }
    </tbody>
</table>